DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ web_db_host }}
DB_PORT={{ web_db_port }}

S3_REGION={{ s3_region }}
S3_BUCKET={{ s3_bucket }}

SECRET_KEY={{ secret_key }}

PATH={{ web_app_dir }}/BirdWatchingApp/src/venv/bin
