DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ web_db_host }}
DB_PORT={{ web_db_port }}

S3_ENDPOINT={{ s3_endpoint }}
S3_ACCESS_KEY={{ s3_access_key }}
S3_SECRET_KEY={{ s3_secret_key }}
S3_BUCKET={{ s3_bucket }}

SECRET_KEY={{ secret_key }}

PATH={{ web_app_dir }}/BirdWatchingApp/src/venv/bin
