{
  "service": {
    "name": "web",
    "port": {{ web_app_port }},
    "tags": ["gunicorn", "flask"],
    "check": {
      "http": "http://127.0.0.1:{{ web_app_port }}/",
      "interval": "10s"
    }
  }
}
