[Unit]
Description=Consul Template
After=network-online.target consul.service
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/consul-template -config=/etc/consul-template.d/config.hcl
Restart=on-failure
User={{ lb_user }}
Group={{ lb_group }}

[Install]
WantedBy=multi-user.target