datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_dir }}"
bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr | default('127.0.0.1') }}"
server = {{ consul_server | lower }}

encrypt = "{{ consul_gossip_key }}"
encrypt_verify_incoming = true
encrypt_verify_outgoing = true

acl {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
{% if consul_agent_token is defined and consul_agent_token %}
  tokens {
    agent = "{{ consul_agent_token }}"
    default = "{{ consul_agent_token }}"
  }
{% endif %}
}

{% if consul_server %}
bootstrap_expect = {{ consul_bootstrap_expect }}
{% endif %}

{% if consul_retry_join | length > 0 %}
retry_join = {{ consul_retry_join | to_json }}
{% endif %}

ports {
  dns = 8600
}

{% if consul_server %}
ui_config {
  enabled = true
}
{% endif %}

telemetry {
  dogstatsd_addr = "127.0.0.1:8125"
}
