[defaults]
host_key_checking = false
inventory         = inventory.aws_ec2.yml
remote_user       = ubuntu

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new

[inventory]
enable_plugins = amazon.aws.aws_ec2